{% extends "base.html" %}
{% load staticfiles %}
{% block onReady %}

{% if user.is_authenticated %}

    function addUserFollows(userList){
        for (var key in userList) {
            $('.leftSubscriptions').append(
                $('<div class="leftAction">').append($('<a>').attr("href", "/browse/author/" + userList[key]).append(userList[key]))
            );
        }

    }
/*
              $.ajax({
                       type: "GET",
                       url: "{% url 'browse:get_subscriptions' %}",
                       data: {'csrfmiddlewaretoken': '{{csrf_token}}'},
                       dataType: "json",
                       success: function(response) {
                            addUserFollows(response["users"]);
                        },
                        error: function(rs, e) {
                               alert(rs.responseText);
                        }
                  }); 
*/
{% endif %}



                $(".tagInput").keyup(function(e) {
                    if (e.keyCode == 188 || e.keyCode == 13) {
                        var inputString = $(this).val();
                        var tags = inputString.split(",");
                        var index;
                        if (tags.length > 0) {
                            for	(index = 0; index < tags.length; index++) {
                                var newTag = tags[index].trim();
                                if (newTag.length > 0) { 
$(this).after($('<div class="tag">').append(newTag).append($('<i id="closeTag" class="fa fa-times" onclick=$(this).closest(".tag").remove()>')));
                                    $(this).val("");
                                }
                            }
                        }
                    }
                });



              $(".followTagsSubmit").on("click", function(){
                    var tagString = "";
                    $(this).closest(".tagForm").find(".tag").each(function() {
                        var tagName = $(this).text();
                        tagString = tagString.concat(tagName).concat(":");
                    });
                        tagString =  tagString.concat($(".tagInput").val()).concat(":");
                  $.ajax({
                           type: "POST",
                           url: "{% url 'browse:follow_tags' %}",
                           data: {'tags': tagString, 'csrfmiddlewaretoken': '{{csrf_token}}'},
                           dataType: "text",
                           success: function(response) {
//                                $("#docId").val(response);
//                                alert($("#docId").val());
                                location.reload(); 
//                                $(".popup").hide();
                            },
                            error: function(rs, e) {
                                   alert(rs.responseText);
                            }
                      }); 
                });

              $(".changeSubscriptions").on("click", function(){
                    var tagString = "";
                    var removeString = "";
                    var removeUserString = "";
                    $(this).closest(".tagForm").find(".tag").each(function() {
                        var tagName = $(this).text();
                        tagString = tagString.concat(tagName).concat(":");
                    });
                        tagString =  tagString.concat($(".subInput").val()).concat(":");
                    $(this).closest(".tagForm").find(".pubSub").each(function() {
                        if (!$(this).prop("checked")) {
                            var subName = $(this).val();
                            removeString = removeString.concat(subName).concat(":");
                        }
                    });
                    $(this).closest(".tagForm").find(".userSub").each(function() {
                        if (!$(this).prop("checked")) {
                            var subName = $(this).val();
                            removeUserString = removeUserString.concat(subName).concat(":");
                        }
                    });
                  $.ajax({
                           type: "POST",
                           url: "{% url 'browse:change_subs' %}",
                           data: {'new_subs': tagString, 'remove': removeString, 'remove_user': removeUserString, 'csrfmiddlewaretoken': '{{csrf_token}}'},
                           dataType: "text",
                           success: function(response) {
//                                $("#docId").val(response);
//                                alert($("#docId").val());
                                location.reload(); 
//                                $(".popup").hide();
                            },
                            error: function(rs, e) {
                                   alert(rs.responseText);
                            }
                      }); 
                });

            $(".followTags").on("click", function() {
                $("#followTagFormBorder").show();
            });

            $(".manageSubs").on("click", function() {
                $("#subscriptionFormBorder").show();
            });

function renewPreviews(tagName, removeTag) {
              $.ajax({
                       type: "POST",
                       url: "{% url 'browse:toggle_tag' %}",
                       data: {'csrfmiddlewaretoken': '{{csrf_token}}', 'page' : {{page}}, 'tag' : tagName, 'remove' : removeTag},
                       dataType: "html",
                       success: function(response) {
                            $("#middleColumn").empty();
                            $("#middleColumn").append(response);
                            addPreviewListeners();
                        },
                        error: function(rs, e) {
                               alert(rs.responseText);
                        }
                  }); 
}


        $(".subTag #closeTag").on("click", function() {
            var tag = $(this).closest(".tag").text();
            $(this).closest(".tag").remove();
            renewPreviews(tag, true);
        });

        $(".tag").on("click", function() {
            $(this).toggleClass("active");
            renewPreviews($(this).text(), false);
        });


{% endblock %}
{% block leftContent %}
                        {% if user.is_authenticated %}
                    <div class="textPaddingDiv">
                        <div class="leftActions leftSubscriptions">
                        <!--div class="leftAction followTags"><a href="#0">Follow Tags</a></div-->
                        </div>
                    </div>
<div class="followTags"><a href="#0" class="clickable"><i class="fa fa-plus"></i> Manage Tags</a></div>
<div class="tagBox">
                            {% for tag in user.twocentsuser.tag_follows.all %}
                            {% if tag in user.twocentsuser.active_tags.all %}
                                <a href="#0" class="tag active subTag">{{tag.text}}<i id="closeTag" class="fa fa-times"></i></a>
                            {% else %}
                                <a href="#0" class="tag subTag">{{tag.text}}<i id="closeTag" class="fa fa-times"></i></a>
                            {% endif %}
                            {% endfor %}
</div>
<div class="manageSubs"><a href="#0" class="clickable"><i class="fa fa-gear"></i> Subscriptions</a></div>
<div class="paddingDiv">
                            {% for author in user.twocentsuser.user_follows.all %}
                                <a href="{% url 'browse:author' author.username %}" class="subscription">{{author.username}}</a>
                            {% endfor %}
                            {% for pub in user.twocentsuser.pub_follows.all %}
                                <a href="{% url 'browse:publication' pub.publication_name %}" class="subscription">{{pub.publication_name}}</a>
                            {% endfor %}
</div>
{% endif %}
{% endblock %}
{% block middleContent %}

    {% load set_var %}
    {% load increment_var %}
    {% set previewCounter = 0 %}
        {% for document in latest_document_list %}
            {% if forloop.counter|divisibleby:12 %}
                {% set previewCounter = 0 %}
            {% endif %}
              <div class="previewTile{{previewCounter}}">
                <div class="paddingDiv">
                    <div class="articleHeader previewClass{{previewCounter}}">
                        <div class="textPaddingDiv">
<!--                            <form method="post" action="{% url 'browse:add_bookmark' %}" >
                                {% csrf_token %}
                                <input type="image" class="saveForLater" src="http://placehold.it/30x30">
                                <input type="hidden" name="doc_id" value="{{document.id}}">
                                <input type="hidden" name="bookmark_user" value="{{user.id}}">
                            </form-->
                            {% if document.id in bookmarks %}
                            <i class="fa fa-bookmark saveForLater bookmarked" id="bookmark{{document.id}}"></i>
                            {% else %}
                            <i class="fa fa-bookmark saveForLater" id="bookmark{{document.id}}"></i>
                            {% endif %}
                            {% if document.id in doc_votes %}
                            <a class="twoCents activeVote" id="vote{{document.id}}" src="http://placehold.it/30x30" href="#0">2&cent;</a>
                            {% else %}
                            <a class="twoCents" id="vote{{document.id}}" src="http://placehold.it/30x30" href="#0">2&cent;</a>
                            {% endif %}
                            <input class="bookmarkId" type="hidden" name="{{document.id}}">
                            <h2><a href={% url 'browse:read' document.link_hash %} name={{document.link_hash}} class="previewLink">{{ document.document_title }}</a></h2>
                            <h4><a href={% url 'browse:author' document.user.username %}>{{ document.user.username }}</a></h4>
                            <div class="articlePreview">
                                <a href={% url 'browse:read' document.link_hash %}>{{ document.preview_text | safe}}</a>
                            </div>
                        </div>
                    </div>
                </div>
              </div>
                {% increment previewCounter %}
              {% empty %}
                <div class="paddingDiv">
                  <div class="floatingTextDiv"><h3>Uh oh, looks like we couldn't find what you're looking for</h3></div> 
                </div>
              {% endfor %}
<div class="pageNavDiv paddingDiv">
    {% if page|add:"0" > 1 and latest_document_list|length > 0%}
    <div class="prevPage"><a href="{% url 'browse:browse_page' page=page|add:"-1" %}" ><i class="fa fa-angle-left"></i> Previous</a></div>
    {% endif %}
            {% if latest_document_list|length_is:"48" %}
<div class="nextPage"><a href="{% url 'browse:browse_page' page=page|add:"1" %}" >Next <i class="fa fa-angle-right"></i></a></div>
{% endif %}
    
</div>

{% endblock %}

{% block headerContent %}

            
<div class="title" name="author_name">TwosPaper</div>
            <div id="followTagFormBorder" class="popupFormBorder popup">
                <form class="popupForm tagForm" id="followTagForm">{% csrf_token %}<h3>Manage Tags</h3>
                    <h4>Tags</h4>
                    <input class="tagInput" type="text"/>
                    <input type="submit" class="followTagsSubmit" value="Follow" action="javascript:void(0);">
                    <button type="button" class="cancel"><i class="fa fa-times"></i></button>
                </form>
            </div>
            <div id="subscriptionFormBorder" class="popupFormBorder popup">
                <form class="popupForm tagForm" id="subscriptionForm">{% csrf_token %}<h3>Manage Subscriptions</h3>
                    <h4>New Subscriptions</h4>
                    <input class="subInput" type="text" onkeydown="if (event.keyCode == 13) return false;" />
                    <h4>Current Subscriptions</h4>
                            {% for author in user.twocentsuser.user_follows.all %}
                    <div>
                                <input type="checkbox" class="subscriptionCheck userSub" checked value="{{author.username}}">{{author.username}} <span class="greyText">Author</span></input>
                    </div>
                            {% endfor %}
                            {% for pub in user.twocentsuser.pub_follows.all %}
                    <div>
                                <input type="checkbox" class="subscriptionCheck pubSub" checked value="{{pub.publication_name}}">{{pub.publication_name}} <span class="greyText">
                {% if pub.is_open %}Open Publication{% else %}Publication{% endif %}
                        </span></input>
                    </div>
                            {% endfor %}
                    <input type="submit" class="changeSubscriptions" value="Save Changes" action="javascript:void(0);">
                    <button type="button" class="cancel"><i class="fa fa-times"></i></button>
                </form>
            </div>
{% endblock %}