

body {
    font-family: "Merriweather", Helvetica, Arial, sans-serif;
    background-color: #E9E9E9;
    padding: 0px;
    margin: 0px;
    width: 100%;
}



/* Let's get this party started */
#leftColumn ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
 
/* Track */
#leftColumn ::-webkit-scrollbar-track {
    background: #FFFFFF;
}
 
/* Handle */
#leftColumn ::-webkit-scrollbar-thumb {
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background: #C9C9C9; 
}

/* Let's get this party started */
#middleColumn ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
 
/* Track */
#middleColumn ::-webkit-scrollbar-track {
    background: #FFFFFF;
}
 
/* Handle */
#middleColumn ::-webkit-scrollbar-thumb {
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background: #C9C9C9; 
}

a {
    text-decoration: none;
    color: #333333;
}

li {
    list-style: none;
}

textarea {
    resize: none;
    border: 1px solid #E9E9E9;
    width: 100%;
    min-height: 100px;
}

.leftActions {
    border-top: 1px solid #E9E9E9;
//    margin-top: 10px;
}

.leftAction ul{
    left: 130px;
    width: 100px;
    opacity: 0;
    position: relative;
    top: -60px;
    visibility: hidden;
    min-width: 200px;
    list-style: none;
    background: #FFFFFF;
    border: 1px solid #C9C9C9;
    border-radius: 3px;
    font-size: 16px;
    -webkit-transition: all .25s ease;
       -moz-transition: all .25s ease;
        -ms-transition: all .25s ease;
         -o-transition: all .25s ease;
            transition: all .25s ease;
}
.leftAction:hover ul{
    left: 140px;
    visibility: visible;
    opacity: 1;
}

.leftActions i{
    font-size: 28px;
}

.leftAction {
    font-size: 20px;
    text-align: right;
    border-bottom: 1px solid #E9E9E9;
    height: 30px;
    margin: 0px;
    padding: 10px;
    padding-top: 15px;
}

.actionText:hover {
//    margin-left: -45px;
}

hr {
    border: none;
    height: 1px;
    /* Set the hr color */
    color: #E9E9E9; /* old IE */
    background-color: #E9E9E9; /* Modern Browsers */
}

.comment {
    font-family: sans-serif;
    font-size: 16px;
}

.commentBody {
    margin: 10px 0px;   
}

.commentReplyButton {
    
}

.commentHeader {
    color: #C9C9C9;   
}

.comment a {
    color: #248fc1;    
}

.commentReplyButton {
    font-size: 12px;
    margin-right: 5px;
}

a.commentVote{
    font-size: 12px;
    color: #C9C9C9;   
}


.commentVote:hover {
    color: #248fc1 !important;
}
.commentVote.activeVote {
    color: #248fc1 !important;
    font-weight: bold !important;
}

a.inReplyTo{
    color: #005800;   
}

.ReplyDivTop {
    margin-left: 40px;   
}

.replyForm {
    display: none;
}

.dropit {
    list-style: none;
}
.dropit .dropit-trigger { position: relative; }
.dropit .dropit-submenu {
    position: absolute;
    top: 100%;
    left: 0; /* dropdown left or right */
    z-index: 1;
    display: none;
    min-width: 200px;
    list-style: none;
    background: #FFFFFF;
    border: 1px solid #C9C9C9;
    border-radius: 3px;
    font-size: 16px;
	padding: 0;
	margin: 0;
    margin-top: 0px;
    margin-left: 100px;
    text-align: left;
}
.dropit .dropit-open .dropit-submenu { display: block; }
.dropit .dropit-open .dropit-submenu { display: block; }

.leftAction .icon{
    float: right;
    color: #C9C9C9;
    margin-left: 10px;
}

.leftAction .icon.notification{
    color: #248fc1;
}

    
.leftAction ul a {
    display: block;
    text-align: left;
    font-size: 16px;
    line-height: 25px;
    color: #7a868e;
    padding: 5px 20px;
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
}
.leftAction ul a:hover {
    background: #248fc1;
    color: #fff;
    text-decoration: none;
}
.leftAction .newDocButton {
    color: #000000;   
    font-weight: bold;
}
.leftAction ul .newDocButton:hover {
    background: #FFFFFF;
    text-decoration: none;
}


.newDocButton {
    color: #000000;   
    font-weight: bold;
}

    
.leftAction ul i {
    font-size: 20px;
    margin-left: 0px;
    margin-top: 2px;
    margin-right: 5px;
    float: left;
}

.leftDocument {
       
}

input[type="text"] {
    border: 1px solid #E9E9E9;
}

.actionText {
//    float: left;
//    width: 100%;
//    margin-left: -50px;
    text-align: right;
    -moz-transition: all .05s ease-in;
    -o-transition: all .05s ease-in;
    -webkit-transition: all .05s ease-in;
    transition: all .05s ease-in;
}

.tag {
    background: #E9E9E9;
    border: 1px solid #C9C9C9;
    border-radius: 3px;
    display: inline-block;
    margin: 5px;
    padding: 5px;
    -moz-transition: all .05s ease-in;
    -o-transition: all .05s ease-in;
    -webkit-transition: all .05s ease-in;
    transition: all .05s ease-in;
}

.tag.active {
    color: #F9F9F9;
    background: #65B0D3;    
}

#leftColumn .tag {
    font-size: 12px;   
    margin: 2px;
    padding: 3px;
}

#leftColumn .tag:hover{
    color: #F9F9F9;
    background: #C9C9C9;
}

#leftColumn .tag.active:hover{
    color: #F9F9F9;
    background: #248fc1;
}

.tagBox {
    padding: 5px;
    overflow-y: auto;   
    text-align: justify;
    margin-bottom: 10px;
}

.clickable {
    cursor : pointer;
//    color: #A9A9A9 !important;
}

.clickable:hover {
    color: #248fc1 !important;
    -moz-transition: all .1s ease-in;
    -o-transition: all .1s ease-in;
    -webkit-transition: all .1s ease-in;
    transition: all .1s ease-in;
}

.clickable:active {
    color: #C9C9C9 !important;
}

.tagInput {
    width: 795px;
    float: left;
    margin-bottom: 20px;
//    margin-top: -15px;
}

.subInput {
    width: 795px;
    float: left;
    margin-bottom: 20px;
//    margin-top: -15px;
}

.followTags {
    text-align: center;
    font-weight: bold;
//    margin-left: -20px;   
}

#closeTag {
    display: inline;
    margin-left: 5px;
    color: #A9A9A9;
}

#closeTag:hover {
    color: #F9F9F9;   
}

.fa-minus-circle, .fa-plus-circle {
    cursor: pointer;
}

#maincontainer {
    width: 100%;
    min-height: 100%;
}

.paddingDiv {
    padding: 5px;   
    margin: 0px;
    height: 100%;
}

.adPaddingDiv {
    padding: 12px;
    padding-top: 10px;
    margin: 0px;
    height: 100%;
}

.leftPaddingDiv {
    padding-left: 5px;
    padding-top: 5px;   
    padding-bottom: 10px;   
    margin: 0px;
    height: 100%;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}

.textPaddingDiv {
    padding: 20px;  
    margin: 0px;
//    height: 100%
}

.articlePaddingDiv {
    padding: 50px;  
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 200px;
    margin: 0px;
    min-height: 1000px;
}

.articlePreview {
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
    
}

.articlePreview:hover {
    margin-top: -15px;   
}

.heading {
    font-family: 'Droid Sans';
    font-size: 40px;
    color: #A9A9A9;
    display: block;
    margin: 10px;
    margin-left: 40px;
}

.pub_date {
    color: #A9A9A9;
    font-family: sans-serif;
    margin-right: 20px;
       
}

level1 {
    font-size: 30px;
//    color: #A9A9A9;
//    float: left;
//    clear: left;
    display: block;
    margin-top: 20px;
    margin-bottom: 10px;
}

level1Title {
    font-size: 30px;
//    color: #A9A9A9;
//    display: inline-block;
    margin-top: 20px;
    margin-bottom: 10px;
}

level2 {
    font-size: 20px;
//    color: #A9A9A9;
    display: block;
    margin: 10px;
    margin-left: 40px;    
}

level3 {
    font-size: 14px;
//    color: #A9A9A9;
    display: block;
    margin: 10px;
    margin-left: 80px;    
}

#autoSave {
    top: 100%;
    font-size: 20px;
    position: fixed;
    width: 100%;
    z-index: 2;
    margin-left: -200px;
    padding: 10px;
    text-align: center;
    color: #E9E9E9;
    background: #248fc1;
}

#savedBar {
    top: 100%;
    font-size: 20px;
    position: fixed;
    width: 100%;
    z-index: 2;
    margin-left: -200px;
    padding: 10px;
    text-align: center;
    color: #E9E9E9;
    background: #248fc1;
}

#twothirdswrapper {
    padding: 0 0 0 200px;  
    width: 100%;
    float: left;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}

#rightHere {
//    width: 100%;   
    line-height: 150%;
}

#header {
    height: 140px;   
    width: 100%;
    margin: 0px;
}

.account{
    padding: 10px;
    position: absolute;   
    top: 20px;
    right: 20px;
}

.account img {
    float: left;
}

.account .username {
    float: left;
    margin-left: 10px;
    margin-top: 15px;
}

.account form{
    //float: right;
    //position: absolute;   
  //  display: none;
    margin-top: -30px;
}

.subscribeButton {
    background: #E9E9E9;
    padding: 10px;
    border: 1px solid #C9C9C9;
    border-radius: 3px;
    font-family: sans-serif;
    font-size: 20px;
    display: inline-block;
    position: absolute;
    margin-top: 25px;
    margin-left: 30px;
}

.subscribeButton i {
    color: #248fc1;  
}

.subscribeButton .fa-check {
    color: #248fc1;  
}

.title {
    font-size: 60px;   
    text-align: center;
    width: 100%;
    padding-right: 290px;
    margin-top: 10px;
    border: none !important;
//    display: inline-block;
//    margin: 0 200px 0 0;
    float: left;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
    font-family: 'Merriweather';
}

.title:focus {   
    outline: none;
}

.change {
    background-color: #FFFFFF;
    border: 1px solid #C9C9C9;
    border-radius: 3px;
    height: 30px;
    width: 30px;
    margin: 5px;
    font-size: 18px;
}

.change:hover {
    background: #E9E9E9;    
}

.accept {
    color: green;
}

.reject {
    color: #f05451;
}

.ui-tooltip {
    position: absolute;
}

.ui-helper-hidden-accessible {
    display: none;
}

.hoverComment {
    background-color: #FFFFFF;
    border: 1px solid #C9C9C9;
    border-radius: 3px;
    font-size: 20px;
    padding: 10px;
}

.column {
    background-color: #FFFFFF;
    border: 1px solid #C9C9C9;
    border-radius: 3px;
    height: 100%;
}

.fa-envelope {
    color: #248fc1;      
}

.sendMessage {
//    float: left;
    position: absolute;
    left: 420px;
    top: 52px;
    font-size: 40px !important;
}

.message {
    border-bottom: 1px solid #E9E9E9;
    font-size: 18px;
}

.reply {
    border: none;
    font-size: 18px;
}

.message h4{
    margin-top: -3px;
    margin-bottom: 5px;
    display: inline-block;
    float: left;
}

.sendDate {
    float: left;
    margin-left: 10px;
    font-size: 16px;
    font-family: sans-serif;
    color: #C9C9C9;  
}

.messageReplyButton {
    float: left;
    margin-left: 10px;
    font-size: 16px;
    font-family: sans-serif;
    color: #248fc1;  
}

.messageContent {
    clear: left;
}

.articleHeader {
    background-color: #FFFFFF;
    border: 1px solid #C9C9C9;
    border-radius: 3px;
    height: 300px;
    overflow: hidden;
    text-align: justify;
    font-size: 18px;
}

a.previewLink:visited {
//    color: #797979;   
}

.twoCents {
    margin-top: -5px;
    font-size: 20px;   
    float: left;
    color: #C9C9C9 !important;
}

.twoCents:hover {
    color: #248fc1 !important;
}
.twoCents.activeVote {
    color: #248fc1 !important;
    font-weight: bold !important;
}

.saveForLater, .bookmark{
    cursor: pointer;
    color: #E9E9E9;  
}

.saveForLater:hover, .bookmark:hover{
    color: #C9C9C9;  
}

.saveForLater.bookmarked, .bookmark.bookmarked{
    color: #248fc1;  
}

.commentMarker{
    color: #248fc1;  
}

.comments{
    padding-top: 40px;  
}

.viewReplies{
    padding-top: 5px;
    color: #248fc1;
}

.articleHeader a {
    color: #333333;
    text-decoration: none;
}

.articleHeader h2 {
    text-align: center;
    margin-top: -1px;
    margin-left: 30px;
    margin-right: 30px;
}
.articleHeader h4 {
    margin-top: -10px;
    margin-bottom: -10px;
}

.articleHeader .saveForLater {
    float: right;
}


#rightColumn {
    float: left;
    width: 285px;
    margin-left: -285px;
}

#leftColumn {
    float: left;
    width: 195px;
    height: 100%;
    position: fixed;
//    margin-left: -100%;
}


#contentwrapper {
    float: left;
    padding: 0 285px 0 0px;
    width: 100%;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}

#middleColumn {
//    width: 100%;   
}

.middleSelection {
    border-bottom: 1px solid #E9E9E9;
    font-size: 20px;
    padding: 10px;
    -moz-transition: all .1s ease-in;
    -o-transition: all .1s ease-in;
    -webkit-transition: all .1s ease-in;
    transition: all .1s ease-in;
}

.middleSelection:hover {
    padding-left: 15px;
    font-weight: bold;
}

.activeState {
    color: #248fc1 !important;
    font-weight: bold;
}

.editString {
    float: right;
    color: #C9C9C9;
}

.popup {
    display: none;
}

.previewTile0{
    width: 50%;
    float: left;
}

.previewTile1{
    width: 25%;
    float: left;
}

.previewTile2{
    width: 25%;
    float: right;
}

.previewTile2 .articleHeader {
    height: 612px;
}

.previewTile3{
    width: 25%;
    float: left;
}

.previewTile4{
    width: 50%;
    float: left;
}

.previewTile5{
    width: 25%;
    float: left;
}

.previewTile6{
    width: 25%;
    float: left;
}

.previewTile6 .articleHeader {
    height: 612px;
}

.previewTile7{
    width: 25%;
    float: left;
}

.previewTile8{
    width: 25%;
    float: left;
}

.previewTile9{
    width: 50%;
    float: left;
}

.previewTile10{
    width: 25%;
    float: left;
    margin-left: -100%;
}

.extendingColumn {
    background-color: #FFFFFF;
    border: 1px solid #C9C9C9;
    border-radius: 3px;
    font-size: 20px;
    min-height: 1500px;
}

.toolbar {
    text-align: justify;
}

.toolbar:after { /* Justify last line */
    content: '';
    display: inline-block;
    width: 100%;
}
.toolbar { /* Fix added space */
    height: 1.15em;
    line-height: 1.15;
}

.cd-tabs {
}
.cd-tabs:after {
  content: "";
  display: table;
  clear: both;
}

ul {
    list-style: none;
    padding-left: 0px;   
}

.tabsContainer ul {
    list-style: none;
    padding-left: 0px;   
}
.tabsContainer:after {
  content: "";
  display: table;
  clear: both;
}

.topTabs {
    margin: 0px;  
    font-size: 20px;
    border: 1px solid #C9C9C9;
    border-bottom: none;
    border-radius: 3px;
//    padding-left: 50px;
    margin-bottom: -17px;
    overflow-x: scroll;
    width: 100%;
    white-space: nowrap;
//    height: 65px;
}

.topTabs:after {
  content: "";
  display: table;
  clear: both;
}
.topTabs li {
//  float: left;
    display: inline-block;
}
.topTabs a {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
  position: relative;
  display: inline-block;
  min-width: 100px;
  text-align: center;
    padding: 20px;
  font-size: 16px !important;
  font-size: 0.75rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 700;
  color: #C9C9C9;
    -moz-transition: all .1s ease-in;
    -o-transition: all .1s ease-in;
    -webkit-transition: all .1s ease-in;
    transition: all .1s ease-in;
    outline: none;
}

.topTabs a:hover {
  color: #A9A9A9;
  background-color: #EEEEEE;
}
.topTabs a.selected {
  background-color: #ffffff !important;
  box-shadow: inset 0 2px 0 #248fc1;
  color: #000000;
}

.pubNotification{
    color: #A9A9A9;
    margin: 0px;
    padding: 0px;
    margin-right: 5px;
    margin-top: -2px;
    margin-bottom: -5px;
    font-size: 24px !important;
    float: left;
    -moz-transition: all .1s ease-in;
    -o-transition: all .1s ease-in;
    -webkit-transition: all .1s ease-in;
    transition: all .1s ease-in;
}

.topTabs a.selected .pubNotification {
  color: #248fc1;
}


.cd-tabs-content li {
  display: none;
}
.cd-tabs-content li.selected {
  display: block;
}


.popupFormBorder{
    z-index: 2;
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: none;
}

.popupForm {
    background-color: #FFFFFF;
    border: 1px solid #C9C9C9;
    border-radius: 3px;
//    width: 800px;
    left: 50%;
    top: 15%;
//    margin-left:-400px;
//    margin-top:-400px;
    position: relative;
    padding: 20px;
}

.popupForm h2 {
    margin-top: 0px;
}

.popupForm h3 {
    margin-top: 0px;
}

.popupForm h4 {
    margin-top: 0px;
//    margin-bottom: 0px;
}

.popupForm .docFromFile {
    width: 40%;
    padding: 5px;
    font-size: 16px;
    color: #F9F9F9;
    background: #65B0D3;
    border-radius: 3px;
    border: 1px solid #C9C9C9;
    margin: 10px;
    margin-left: 0px;
    margin-bottom: 20px;
    -moz-transition: all .1s ease-in;
    -o-transition: all .1s ease-in;
    -webkit-transition: all .1s ease-in;
    transition: all .1s ease-in;
}

.popupForm input[type="submit"] {
    width: 49%;
    padding: 5px;
    font-size: 16px;
    color: #F9F9F9;
    background: #65B0D3;
    border-radius: 3px;
    border: 1px solid #C9C9C9;
    margin: 10px;
    margin-left: 0px;
    margin-bottom: 20px;
    -moz-transition: all .1s ease-in;
    -o-transition: all .1s ease-in;
    -webkit-transition: all .1s ease-in;
    transition: all .1s ease-in;
    clear: left;
}

button.cancel {
    border: none;
    background: none;
}

.publishButton {
    margin-left: 10px;
    float: right;
}

.unlistButton {
    float: right;
    margin-left: 10px;
}

.unlistPubs {
    margin: 20px;
    font-size: 18px;
    font-weight: bold;
}

.redButton {
    float: right;
    cursor: pointer;
    padding: 5px;
    font-size: 16px;
    color: #F9F9F9;
    background: #d75151;
    border-radius: 3px;
    border: 1px solid #C9C9C9;
    margin-left: 10px;
}

.redButton:hover {
    color: #F9F9F9;
    background: #cd2626 ;
}

.rejectButton {
    float: right;
    padding: 5px;
    font-size: 16px;
    color: #F9F9F9;
    background: #d75151;
    border-radius: 3px;
    border: 1px solid #C9C9C9;
    margin-left: 10px;
}

.rejectButton:hover {
    color: #F9F9F9;
    background: #cd2626 ;
}

.cancel i {
    font-size: 50px;
    color: #E9E9E9;
    position: fixed;
    top: 50px;
    right: 50px;
}   

.popupForm input[type="submit"]:hover {
    color: #F9F9F9;
    background: #248fc1;
}

.popupForm input[type="text"] {
    min-width: 50%;
    font-size: 24px;   
}

.popupForm select {
    min-width: 90%;
    font-size: 20px;
    display: block;
}

input[type="password"] {
    border: 1px solid #E9E9E9;
}

#newDocForm {
    width: 400px;
    margin-left: -210px;
}
#newDocForm input[type="text"] {
    width: 395px;
}

#newLinkForm {
    width: 400px;
    margin-left: -210px;
}

#newLinkForm input[type="text"] {
    margin-bottom: 20px;
    margin-top: -10px;
    width: 395px;
}

#newSidebarForm {
    width: 400px;
    margin-left: -210px;
}

#newSidebarForm input[type="text"] {
    margin-bottom: 20px;
    margin-top: -10px;
    width: 395px;
}

#newSidebarForm .newSidebarContent {
    margin-top: -10px;
    border: 1px solid #E9E9E9;
    min-height: 40px;
}

.newSidebar {
    font-weight: bold;
}

.newpub {
    font-weight: bold;
}

#newPubForm {
    width: 400px;
    margin-left: -210px;
}

.messageForm {
    width: 800px;
    margin-left: -410px;
}

.messageForm textarea{
    min-height: 200px;
}

.tagForm {
    width: 800px;
    margin-left: -410px;
}

.tagForm h4{
    margin-top: 20px;
    margin-bottom: 5px;
}

.tagForm textarea {
    width: 795px;
    min-height: 400px;
    margin-top: -10px;
}

.isPublishedDiv {
    display: inline-block;
    font-weight: normal;
    margin-left: 10px;
    color: #A9A9A9;
}

.pubList {
    background: #FFFFFF;
    border-radius: 3px;
    max-height: 200px;
    border: 1px solid #C9C9C9;
    padding: 5px;
    position: absolute;
    visibility: hidden;
    margin-top: 10px;
    margin-left: 10px;
    overflow-y: scroll;
    opacity: 0;
    -moz-transition: all .1s ease-in;
    -o-transition: all .1s ease-in;
    -webkit-transition: all .1s ease-in;
    transition: all .1s ease-in;
}

.pubListItem {
    display: block;
    color: #000000;
}

.isPublishedDiv:hover .pubList {
    opacity: 1;
    margin-top: 0px;    
    visibility: visible;   
    
}

#fileDrop {
    border: 2px dashed #C9C9C9;
    color: #C9C9C9;
    height: 20px;
    padding: 20px;
    border-radius: 3px;
    font-size: 16px;
    text-align: center;
    margin-top: 20px;
}

#fileDrop:dragover {
    background-color: #E9E9E9;   
}

input[type="file"] {
    color: #FFFFFF;
}

#requestEditForm h4{
    margin-top: 10px;
    margin-bottom: 0px;
}

#requestEditForm textarea {
    margin-top: 0px;
}

.publicationHeader {
//    padding: 20px;
}

.subArticles {
    clear: both;   
}

#inviteMemberForm {
    width: 45%;
    padding-bottom: 50px;
    float: left;
    clear: left;
}

.memberPermissionForm {
    float: left;
    margin-left: 20px;
}

.inviteMemberSubmit {
    display: none;
    float: right;
    padding: 5px;
    font-size: 16px;
    color: #F9F9F9;
    background: #65B0D3;
    border-radius: 3px;
    border: 1px solid #C9C9C9;
    margin-right: 30px;
    -moz-transition: all .1s ease-in;
    -o-transition: all .1s ease-in;
    -webkit-transition: all .1s ease-in;
    transition: all .1s ease-in;
}

#inviteMemberSubmit:hover {
    color: #F9F9F9;
    background: #248fc1;
}

#commentText {
    font-size: 18px;   
}

.blueButton {
//    display: none;
    cursor: pointer;
    padding: 5px;
    font-size: 16px;
    color: #F9F9F9;
    background: #65B0D3;
    border-radius: 3px;
    border: 1px solid #C9C9C9;
//    margin-right: 30px;
    -moz-transition: all .1s ease-in;
    -o-transition: all .1s ease-in;
    -webkit-transition: all .1s ease-in;
    transition: all .1s ease-in;
}

.blueButton:hover {
    color: #F9F9F9;
    background: #248fc1;
}

.userHeader {
    background-color: #FFFFFF;
    border: 1px solid #C9C9C9;
    border-radius: 3px;
    height: 300px;  
    overflow: hidden;
}

.userHeader li {
    display: block;   
}

.userHeader h3 {
    float: left;   
}

.authorSummary {
    width: 50%;   
    float: left;
}

.authorSummary h3 {
    margin-top: 0px;   
}

.authorSummary textarea{
    height: 220px;
}

.authorPlugs {
    width: 25%;
    float: left;
}

.authorPlugs h3 {
    margin-top: 0px;   
}

.authorPlugs ul {
    font-size: 20px;
    clear: left;
    height: 220px;
    overflow-y: auto;   
}

.authorPubs {
    width: 25%;
    float: left;
    height: 300px;
}

.authorPubs h3 {
    margin-top: 0px;
    float: none;
}

.authorPubs ul {
    font-size: 20px;
    height: 220px;
    overflow-y: auto;   
}

.tabbedContent {
    border-top: none; 
    width: 100%;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}


.aboutTheAuthor {
    background: #FFFFFF;
    color: #000000;
    border: none;
    font-size: inherit;
    font-family: 'Merriweather';
}

.aboutThePub {
    min-height: 14px;
    background: #FFFFFF;
    color: #000000;
    border: none;
    font-size: inherit;
    font-family: 'Merriweather';
}

.profileEditLink {
    font-family: sans-serif;
    color: #248fc1;
    float: right;
    margin: 4px;
//    margin-left: 10px;
    font-size: 16px;
}

.saveEditLink {
    display: none;
    font-family: sans-serif;
    color: #248fc1;
    float: right;
    font-size: 16px;
}

.addLink {
    font-family: sans-serif;
    color: #248fc1;
    float: left;
    margin: 4px;
    margin-left: 10px;
}

.inboxHeaderLink {
    font-family: sans-serif;
    font-size: 16px;
    padding: 5px 10px;
    border-left: 1px solid #E9E9E9;
    color: #248fc1;
}

.inboxLink {
    margin-left: 20px;
    border: none;
}

.inboxHeaderLink.active {
    font-weight: bold;
    color: #000000;
}

#textbody {
    min-height: 200px;
    line-height: 150%;
}

#textbody:focus {
    outline: none;
}

.floatingTextDiv {
    padding-top: 80px;
    color: #A9A9A9;
    text-align: center;
}

.sourceSubmit, .requestEditSubmit {
    width: 49%;
    padding: 5px;
    font-size: 16px;
    color: #F9F9F9;
    background: #65B0D3;
    border-radius: 3px;
    border: 1px solid #C9C9C9;
    margin: 10px;
    margin-left: 0px;    
}

select {
    border: 1px solid #E9E9E9;   
}

.pageNavDiv {
    width: 100%;
    display: block;
    float: left;
}

.versionSelect {
    float: right;
    margin-right: 20px;
    margin-top: 20px;
    font-family: Merriweather;
    font-size: 20px;
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
}

.revert {
    float: right;
    margin-right: 20px;
    margin-top: 20px;
}

.revertButton {
    float: right;   
}

.level1Nav {
    display: block;
    font-size: 20px;
    margin-top: 5px;
}

.level2Nav {
    display: block;
    margin-left: 10px;
    margin-top: 5px;
}

.level3Nav {
    display: block;
    margin-left: 20px;
    margin-top: 5px;
    font-size: 14px;
}

.nextPage a{
    float: right;
    //display: block;
    padding: 5px;
    font-size: 18px;
    color: #FFFFFF;
    background: #C9C9C9;
    border-radius: 3px;
    border: 1px solid #C9C9C9;
    margin: 10px;
    margin-left: 0px;    
}

.prevPage a{
    float: right;
  //  display: block;
    padding: 5px;
    font-size: 18px;
    color: #FFFFFF;
    background: #C9C9C9;
    border-radius: 3px;
    border: 1px solid #C9C9C9;
    margin: 10px;
    margin-left: 0px;    
}

.recentlyRead {
    margin-top: 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid #E9E9E9;
    -moz-transition: all .1s ease-in;
    -o-transition: all .1s ease-in;
    -webkit-transition: all .1s ease-in;
    transition: all .1s ease-in;
}

.recentlyRead:hover {
    margin-left: 5px;   
}

.manageSubs {
    text-align: center;
    font-weight: bold;
}

.subscription {
    margin-left: 5px;
    display: block;
}

.subscriptionCheck {
    cursor: pointer;
}

.greyText {
    color: #A9A9A9;   
}

.revert {
    font-family: sans-serif;
    font-size: 16px;
    color: #A9A9A9;   
    display: none;
}

.pubTypeForm{
    clear:left;
    font-family: sans-serif;
}

.editorsDiv {
    float: left;
    display: block;
    clear: right;
    padding-left: 20px;
    border-left: 1px solid #E9E9E9;
}

.editorsDiv ul {
    overflow-y: scroll;
    max-height: 200px;    
}

h5 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.pubLink {
    float: left;
    font-weight: bold;
    margin-bottom: 20px;
}
.pubUser {
    color: #000000;
}

.pubUser a {
    margin-right: 20px;   
}