

body {
    font-family: "Merriweather", Helvetica, Arial, sans-serif;
    background-color: #E9E9E9;
    padding: 0px;
    margin: 0px;
    width: 100%;
}

a {
    text-decoration: none;
    color: #333333;
}

li {
    list-style: none;
}

.leftActions {
    border-top: 1px solid #E9E9E9;
    margin-top: 140px;
}

.leftActions ul{
    display: none;
}

.leftActions i{
    font-size: 28px;
}

.leftAction {
    font-size: 20px;
    text-align: right;
    border-bottom: 1px solid #E9E9E9;
    height: 30px;
    margin: 0px;
    padding: 10px;
    padding-top: 15px;
}

hr {
    border: none;
    height: 1px;
    /* Set the hr color */
    color: #E9E9E9; /* old IE */
    background-color: #E9E9E9; /* Modern Browsers */
}

.comment {
    font-family: sans-serif;
    font-size: 16px;
}

.commentBody {
    margin: 10px 0px;   
}

.commentReplyButton {
    
}

.commentHeader {
    color: #C9C9C9;   
}

.comment a {
    color: #248fc1;    
}

.commentReplyButton {
    font-size: 14px;
    margin-right: 5px;
}

a.commentVote{
    font-size: 14px;
    color: #C9C9C9;   
}

a.inReplyTo{
    color: #005800;   
}

.ReplyDivTop {
    margin-left: 40px;   
}

.replyForm {
    display: none;
}

.dropit {
    list-style: none;
}
.dropit .dropit-trigger { position: relative; }
.dropit .dropit-submenu {
    position: absolute;
    top: 100%;
    left: 0; /* dropdown left or right */
    z-index: 1000;
    display: none;
    min-width: 200px;
    list-style: none;
    background: #FFFFFF;
    border: 1px solid #C9C9C9;
    border-radius: 3px;
    font-size: 16px;
	padding: 0;
	margin: 0;
    margin-top: 30px;
    margin-left: 20px;
    text-align: left;
}
.dropit .dropit-open .dropit-submenu { display: block; }
    
.dropit .dropit-submenu a {
    display: block;
    font-size: 16px;
    line-height: 25px;
    color: #7a868e;
    padding: 5px 20px;
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
}
.dropit .dropit-submenu a:hover {
    background: #248fc1;
    color: #fff;
    text-decoration: none;
}

.leftAction i{
    float: right;
    color: #C9C9C9;
    margin-left: 10px;
}

.leftDocument {
       
}

.actionText {
    float: right;
}



#maincontainer {
    width: 100%;
    min-height: 100%;
}

.paddingDiv {
    padding: 5px;   
    margin: 0px;
    height: 100%;
}

.adPaddingDiv {
    padding: 12px;
    padding-top: 10px;
    margin: 0px;
    height: 100%;
}

.leftPaddingDiv {
    padding-left: 5px;
    padding-top: 5px;   
    padding-bottom: 10px;   
    margin: 0px;
    height: 100%;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}

.textPaddingDiv {
    padding: 20px;  
    margin: 0px;
//    height: 100%
}

.articlePaddingDiv {
    padding: 50px;  
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 200px;
    margin: 0px;
    min-height: 1000px;
}

#autoSave {
    top: 100%;
    font-size: 20px;
    position: fixed;
    width: 100%;
    z-index: 2;
    margin-left: -200px;
    padding: 10px;
    text-align: center;
    background: #C9C9C9;
}

#twothirdswrapper {
    padding: 0 0 0 200px;  
    width: 100%;
    float: left;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}

#rightHere {
//    width: 100%;   
}

#header {
    height: 140px;   
    width: 100%;
    margin: 0px;
}

.account{
    padding: 10px;
    position: absolute;   
    top: 20px;
    right: 20px;
}

.account img {
    float: left;
}

.account .username {
    float: left;
    margin-left: 10px;
    margin-top: 15px;
}

.account form{
    //float: right;
    //position: absolute;   
  //  display: none;
    margin-top: -30px;
}

.title {
    font-size: 60px;   
    text-align: center;
    width: 100%;
    padding-right: 290px;
    border: none;
//    margin: 0 200px 0 0;
    float: left;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
    font-family: 'Merriweather';
}

.change {
    background-color: #FFFFFF;
    border: 1px solid #C9C9C9;
    border-radius: 3px;
    height: 30px;
    width: 30px;
    margin: 5px;
    font-size: 18px;
}

.change:hover {
    background: #E9E9E9;    
}

.accept {
    color: green;
}

.reject {
    color: #f05451;
}

.ui-tooltip {
    position: absolute;
}

.ui-helper-hidden-accessible {
    display: none;
}

.hoverComment {
    background-color: #FFFFFF;
    border: 1px solid #C9C9C9;
    border-radius: 3px;
    font-size: 20px;
    padding: 10px;
}

.column {
    background-color: #FFFFFF;
    border: 1px solid #C9C9C9;
    border-radius: 3px;
    height: 100%;
}
.articleHeader {
    background-color: #FFFFFF;
    border: 1px solid #C9C9C9;
    border-radius: 3px;
    height: 300px;
    overflow: hidden;
    text-align: justify;
    font-size: 18px;
}

.twoCents {
    font-size: 20px;   
    float: left;
    color: #C9C9C9 !important;
}

.twoCents:hover {
    color: #248fc1 !important;
}
.twoCents.activeVote {
    color: #248fc1 !important;
    font-weight: bold !important;
}

.saveForLater, .bookmark{
    color: #E9E9E9;  
}

.saveForLater:hover, .bookmark:hover{
    color: #C9C9C9;  
}

.saveForLater.bookmarked, .bookmark.bookmarked{
    color: #248fc1;  
}

.commentMarker{
    color: #248fc1;  
}

.articleHeader a {
    color: #333333;
    text-decoration: none;
}

.articleHeader h2 {
    text-align: center;
    margin-top: -1px;
    margin-left: 30px;
    margin-right: 30px;
}
.articleHeader h4 {
    margin-top: -10px;
    margin-bottom: -10px;
}

.articleHeader .saveForLater {
    float: right;
}


#rightColumn {
    float: left;
    width: 285px;
    margin-left: -285px;
}

#leftColumn {
    float: left;
    width: 195px;
    height: 100%;
    position: fixed;
//    margin-left: -100%;
}


#contentwrapper {
    float: left;
    padding: 0 285px 0 0px;
    width: 100%;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}

#middleColumn {
//    width: 100%;   
}

.middleSelection {
    border-bottom: 1px solid #E9E9E9;
    font-size: 20px;
    padding: 10px;
}

.editString {
    float: right;
    color: #C9C9C9;
}

.popup {
    display: none;
}

.previewTile0{
    width: 50%;
    float: left;
}

.previewTile1{
    width: 25%;
    float: left;
}

.previewTile2{
    width: 25%;
    float: right;
}

.previewTile2 .articleHeader {
    height: 612px;
}

.previewTile3{
    width: 25%;
    float: left;
}

.previewTile4{
    width: 50%;
    float: left;
}

.previewTile5{
    width: 25%;
    float: left;
}

.previewTile6{
    width: 25%;
    float: left;
}

.previewTile6 .articleHeader {
    height: 612px;
}

.previewTile7{
    width: 25%;
    float: left;
}

.previewTile8{
    width: 25%;
    float: left;
}

.previewTile9{
    width: 50%;
    float: left;
}

.previewTile10{
    width: 25%;
    float: left;
    margin-left: -100%;
}

.extendingColumn {
    background-color: #FFFFFF;
    border: 1px solid #C9C9C9;
    border-radius: 3px;
    font-size: 20px;
    min-height: 1500px;
}


.cd-tabs {
}
.cd-tabs:after {
  content: "";
  display: table;
  clear: both;
}

.cd-tabs ul {
    list-style: none;
    padding-left: 0px;   
}

.tabsContainer ul {
    list-style: none;
    padding-left: 0px;   
}
.tabsContainer:after {
  content: "";
  display: table;
  clear: both;
}


.tabbedContent {
    border-top: none; 
    width: 100%;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.topTabs {
    margin: 0px;  
    font-size: 20px;
    border: 1px solid #C9C9C9;
    border-bottom: none;
    border-radius: 3px;
    padding-left: 50px;
    margin-bottom: -17px;
}

.topTabs:after {
  content: "";
  display: table;
  clear: both;
}
.topTabs li {
  float: left;
}
.topTabs a {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
  position: relative;
  display: block;
  min-width: 100px;
    z-index: 1;
  text-align: center;
    padding: 20px;
  font-size: 16px !important;
  font-size: 0.75rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 700;
  color: #C9C9C9;
    -moz-transition: all .1s ease-in;
    -o-transition: all .1s ease-in;
    -webkit-transition: all .1s ease-in;
    transition: all .1s ease-in;
}

.topTabs a:hover {
  color: #A9A9A9;
  background-color: #EEEEEE;
}
.topTabs a.selected {
  background-color: #ffffff !important;
  box-shadow: inset 0 2px 0 #248fc1;
  color: #000000;
}


.cd-tabs-content li {
  display: none;
}
.cd-tabs-content li.selected {
  display: block;
}