{% extends "base.html" %}
{% block onReady %}


              $.ajax({
                       type: "POST",
                       url: "{% url 'browse:get_latest_docs' %}",
                       data: {'csrfmiddlewaretoken': '{{csrf_token}}', 'count': 50},
                       dataType: "json",
                       success: function(response) {
                                console.log(response["pubs"]);
editors = response["editors"];
                           $(response["docs"]).each(function() {
                               title = $(this)[0]["document_title"];
                               id = $(this)[0]["pk"];
                               hash = $(this)[0]["link_hash"];
                               pubs = response["pubs"][id];
//                               editorsList = $(this)[0]["editors_list"];
                                editorsList = editors[title];
                                isPublishedString = "";
                                isPublishedDiv = "";
                                isPublished = $(this)[0]["has_been_published"];
                                href = '/write/';
                                if (isPublished) {
                                    isPublishedString = " | Published";
                                    isPublishedDiv = $('<div class="isPublishedDiv">').append(isPublishedString);
                                    pubList = $('<div class="pubList">');
                                    for (pub in pubs) {
                                        pubList.append($('<div class="pubListItem">').append($('<a>').attr("href", "/browse/publication/" + pubs[pub]).append(pubs[pub])));
                                    }
                                    if (pubs.length == 0) {
                                        pubList.append($('<div class="pubListItem">').append("Self Published"));
                                    }
                                    isPublishedDiv.append(pubList);
                                    href = '/browse/read/';
                                }
                                if (editorsList === "") {
                                   $('.myDocsDiv').append(
                                        $('<div class="middleSelection">').append(
                                            $('<a>').attr('id', "document" + id).attr('href',href + hash).append(title).append(isPublishedDiv)
                                        ).append(
                                            $('<button class="myPublishButton publishButton blueButton">').append("Publish")
                                        ).append(
                                            $('<input type="hidden" class="docHash">').attr('value', hash)
                                        )
                                   );
                                } else {
                                   $('.articlePaddingDiv').append(
                                        $('<div class="middleSelection">').append(
                                            $('<a>').attr('href','/write/' + hash).append(title)
                                            .append(
                                                $('<div class="editString">').append(editorsList)
                                            )
                                        )
                                    )
                                }
                           });

                            var pubs = response["pubs"];
                           for (var key in pubs) {
                                var pubs_list = pubs[key];
                                $(pubs_list).find("object").each(function() {
                                    title = $(this).find('[name="publication_name"]').text();
                                    docId = "#document" + key;
                                    $(docId).append(
                                        $('<span style="display:none" class="publishedSpan">').append(title)
                                    );
                                });
                            }

                            var sub_pubs = response["sub_pubs"];
                           for (var key in sub_pubs) {
                                var pubs_list = sub_pubs[key];
                                $(pubs_list).find("object").each(function() {
                                    title = $(this).find('[name="publication_name"]').text();
                                    docId = "#document" + key;
                                    $(docId).append(
                                        $('<span style="display:none" class="submittedSpan">').append(title)
                                    );
                                });
                            }

                            $(".myPublishButton").on("click", function(){
                                $(".formDocHash").val($(this).closest(".middleSelection").find(".docHash").val());
                                $("#publishForm").find("option").each(function() {
                                    var pub_name = $(this).val();
                                    $(this).removeAttr("disabled");
                                    $(this).text(pub_name);
                                });
                                $("#publishForm").find("select").val("");
                                $(this).closest(".middleSelection").find(".pubListItem").each(function() {
                                    var pub_name = $(this).text();
                                    $("#publishForm").find('option[value="' + pub_name + '"]').attr('disabled','disabled').append(isPublishedString);
                                });
                                $(this).closest(".middleSelection").find(".submittedSpan").each(function() {
                                    var pub_name = $(this).text();
                                    $("#publishForm").find('option[value="' + pub_name + '"]').attr('disabled','disabled').append(" | Submitted");
                                });
                                $("#publishForm").show();
                            });
                        },
                        error: function(rs, e) {
                               alert(rs.responseText);
                        }
                  }); 


            $(".newpub").on("click", function(){
                $("#newPublication").css("display", "block");
            });

function addPublishedSelection($pubArticles, title, publication_name, link_hash, author, date) {

                                    var $selection = 
                                        $('<div class="middleSelection">').append(
                                            $('<div>').append(
                                                $('<span class="pub_date">').append(date)
                                            ).append(
                                                $('<a class="pub_date">').attr("href", "/browse/author/" + author).append(author)
                                            ).append(
                                                $('<a>').attr('href','/browse/read/' + link_hash).append(title)
                                            ).append(
                                                $('<button class="unlistButton redButton">Unlist</button>')
                                            ).append(
                                                $('<input type="hidden" class="docHash">').attr('value', link_hash)
                                            ).append(
                                                $('<input type="hidden" class="pubName">').attr('value', publication_name)
                                            )
                                        );

                                    $pubArticles.find(".slideContents").prepend($selection);
//                                    $pubArticles.find("span").remove();
}

function addSubmittedArticles(publication, publication_name) {

                            pubName = publication_name.replace(/\s/g,"_");

                            var $subArticles = $('<div class="subArticles">').append($('<h5>').append('Submitted Articles <i class="fa fa-minus-circle">')).append('<div class="slideContents">');
                            $.each(publication["pending_articles"], function(title, hash_date_auth) {
                                if (title != "") {
                                    var $selection = 
                                        $('<div class="middleSelection">').append(
                                            $('<div>').append(
                                                $('<span class="pub_date">').append(hash_date_auth[1])
                                            ).append(
                                                $('<a class="pub_date">').attr("href", "/browse/author/" + hash_date_auth[2]).append(hash_date_auth[2])
                                            ).append(
                                                $('<a>').attr('href','/publish/review/' + hash_date_auth[0]).append(title)
                                            ).append(
                                                $('<input type="submit" class="rejectButton redButton" name="submissionType" value="Reject">')
                                            ).append(
                                                $('<button class="publishButton blueButton">Publish</button>')
                                            ).append(
                                                $('<input type="hidden" class="docHash">').attr('value', hash_date_auth[0])
                                            ).append(
                                                $('<input type="hidden" class="pubName">').attr('value', publication_name)
                                            )
                                        );

                                   $subArticles.find(".slideContents").append($selection);


                                    $selection.find(".publishButton").on("click", function() {
                                      $.ajax({
                                               type: "POST",
                                               url: "{% url 'publish:publish_document' %}",
                                               data: {'submissionType': "Publish", 'publication_name': publication_name, 'docHash': hash_date_auth[0], 'csrfmiddlewaretoken': '{{csrf_token}}'},
                                               dataType: "text",
                                               success: function(response) {
                                                    $selection.remove();
                                                    
                                                    var $pubArticles = $("[data-content=" + '"' + publication_name + '"' + "]").find(".pubArticles");
                                                    addPublishedSelection($pubArticles, title, publication_name, response, hash_date_auth[2], hash_date_auth[1]);
                                                    addUnlistListeners();
    
                                                    if ($subArticles.find(".middleSelection").size() == 0) {
                                                        $("#" + pubName).find("i").remove();
                                                        $subArticles.find(".slideContents").append("<span>No pending articles</span>");
                                                    }
                                                },
                                                error: function(rs, e) {
                                                       alert(rs.responseText);
                                                }
                                          });
                                    });


                                }
                            });
                            if ($subArticles.find(".middleSelection").size() == 0) {
                                $("#" + pubName).find("i").remove();
                                $subArticles.find(".slideContents").append("<span>No pending articles</span>");
                            }
                            $subArticles.find("i").on("click", function(){
                                $subArticles.find(".slideContents").slideToggle(200);
                                $(this).toggleClass("fa-plus-circle");
                                $(this).toggleClass("fa-minus-circle");
                            });
                        $("[data-content=" + '"' + publication_name + '"' + "]").find(".articlePaddingDiv").append($subArticles);
}

function addPublishedArticles(publication, publication_name) {

                            pubName = publication_name.replace(/\s/g,"_");

                            var $pubArticles = $('<div class="pubArticles">').append($('<h5>').append('Published Articles <i class="fa fa-minus-circle">')).append('<div class="slideContents">');

                            $.each(publication["published_articles"], function(title, hash_date_auth) {
                                if (title != "") {
                                    var $selection = 
                                        $('<div class="middleSelection">').append(
                                            $('<div>').append(
                                                $('<span class="pub_date">').append(hash_date_auth[1])
                                            ).append(
                                                $('<a class="pub_date">').attr("href", "/browse/author/" + hash_date_auth[2]).append(hash_date_auth[2])
                                            ).append(
                                                $('<a>').attr('href','/browse/read/' + hash_date_auth[0]).append(title)
                                            ).append(
                                                $('<button class="unlistButton redButton">Unlist</button>')
                                            ).append(
                                                $('<input type="hidden" class="docHash">').attr('value', hash_date_auth[0])
                                            ).append(
                                                $('<input type="hidden" class="pubName">').attr('value', publication_name)
                                            )
                                        );

                                   $pubArticles.find(".slideContents").append($selection);


/*                                    $selection.find(".unlistButton").on("click", function() {
                                      $.ajax({
                                               type: "POST",
                                               url: "{% url 'publish:publish_document' %}",
                                               data: {'submissionType': "Unlist", 'publication_name': publication_name, 'docHash': link_hash, 'csrfmiddlewaretoken': '{{csrf_token}}'},
                                               dataType: "text",
                                               success: function(response) {
                                                $selection.remove();
                                                    if ($pubArticles.find(".middleSelection").size() == 0) {
                                                    $pubArticles.find(".slideContents").append("<span>No published articles</span>");
                                                    }
                                                },
                                                error: function(rs, e) {
                                                       alert(rs.responseText);
                                                }
                                          });
                                    });*/



                                }
                            });
                            if ($pubArticles.find(".middleSelection").size() == 0) {
                                $pubArticles.find(".slideContents").append("<span>No published articles</span>");
                            }
                            $pubArticles.find("i").on("click", function(){
                                $pubArticles.find(".slideContents").slideToggle(200);
                                $(this).toggleClass("fa-plus-circle");
                                $(this).toggleClass("fa-minus-circle");
                            });
                        $("[data-content=" + '"' + publication_name + '"' + "]").find(".articlePaddingDiv").append($pubArticles);
}

function getAddPubArticles(publication_name) {

                                if ($("[data-content=" + '"' + publication_name + '"' + "]").find(".pubArticles").length == 0) {
                                      $.ajax({
                                               type: "GET",
                                               url: "{% url 'publish:get_latest_pubs' %}",
                                               data: {'publication_name': publication_name, 'page': '1', 'csrfmiddlewaretoken': '{{csrf_token}}'},
                                               dataType: "json",
                                               success: function(response) {
                                                    addPublishedArticles(response, publication_name);
                                                    addUnlistListeners();

                                //                                $("#commentTabHeader").text("Comments (" + response["count"] + ")");
                                                },
                                                error: function(rs, e) {
                                                       alert(rs.responseText);
                                                }
                                          });
                                    }
}

function addUnlistListeners() {
$(".unlistButton").unbind();
        $(".unlistButton").on("click", function(){
            $(".formDocHash").val($(this).closest(".middleSelection").find(".docHash").val());
            $(".formPubName").val($(this).closest(".middleSelection").find(".pubName").val());
            $("#unlistFormBorder").show();
        });

$(".rejectButton").unbind();
        $(".rejectButton").on("click", function(){
            $(".formDocHash").val($(this).closest(".middleSelection").find(".docHash").val());
            $(".formPubName").val($(this).closest(".middleSelection").find(".pubName").val());
            $("#rejectFormBorder").show();
        });


$(".unlist").unbind();
        $(".unlist").on("click", function() {
            hash = $(this).closest("form").find(".formDocHash").val();
            $pubArticles = $('.docHash[value="' + hash + '"]').closest(".pubArticles");
          $.ajax({
                   type: "POST",
                   url: "{% url 'publish:publish_document_to_publication' %}",
                   data: {'submissionType': "Unlist", 'docHash': hash, 'publication_name': $(this).closest("form").find(".formPubName").val(), 'comment' : $("#unlistComment").val(), 'csrfmiddlewaretoken': '{{csrf_token}}'},
                   dataType: "text",
                   success: function(response) {
                        $("#unlistFormBorder").hide();
                        $("#unlistComment").val("");
                        $('.docHash[value="' + hash + '"]').closest(".middleSelection").remove();
                        if ($pubArticles.find(".middleSelection").size() == 0) {
                            $pubArticles.find(".slideContents").append("<span>No published articles</span>");
                        }
                    },
                    error: function(rs, e) {
                           alert(rs.responseText);
                    }
              });
        });



$(".reject").unbind();
        $(".reject").on("click", function() {
            hash = $(this).closest("form").find(".formDocHash").val();
            $subArticles = $('.docHash[value="' + hash + '"]').closest(".subArticles");
          $.ajax({
                   type: "POST",
                   url: "{% url 'publish:publish_document_to_publication' %}",
                   data: {'submissionType': "Reject", 'docHash': hash, 'publication_name': $(this).closest("form").find(".formPubName").val(), 'comment' : $("#rejectComment").val(), 'csrfmiddlewaretoken': '{{csrf_token}}'},
                   dataType: "text",
                   success: function(response) {
                        $("#rejectFormBorder").hide();
                        $("#rejectComment").val("");
                        $('.docHash[value="' + hash + '"]').closest(".middleSelection").remove();
                        if ($subArticles.find(".middleSelection").size() == 0) {
                            $subArticles.find(".slideContents").append("<span>No pending articles</span>");
                        }
                    },
                    error: function(rs, e) {
                           alert(rs.responseText);
                    }
              });
        });

}

function addPublicationTab(publication) {
                            var publication_name = publication["publication_name"];
                            var id = publication["id"];
    
                            name = publication_name.replace(/\s/g,"_");

                            if (publication["article_count"] > 0) {

                                    $("#myDocsTab").after(
                                        $('<li>').append(
                                            $('<a href="#0">').attr("id", name).attr("data-content", publication_name).append(publication_name)
                                        )
                                    );
                                    $("#" + name).prepend($('<i class="fa fa-exclamation pubNotification">'));
                            } else {
                                $(".topTabs").append(
                                    $('<li>').append(
                                        $('<a href="#0">').attr("id", name).attr("data-content", publication_name).append(publication_name)
                                    )
                                );
                            }

                            var $tab = $('<div class="extendingColumn tabbedContent">').append(
                                            $('<div class="articlePaddingDiv">').append(
                                                $('<a class="pubLink" href="/browse/publication/' + publication_name + '">').append("Front Page")
                                            )
                                        );

                            if (publication["is_owner"]) {


                                    var $inviteMemberInput = $('<input type="text" name="username" class="inviteMemberInput">');

                                    var $inviteMemberSubmit = $('<input type="submit" class="inviteMemberSubmit blueButton" value="Invite Member">');


                                    $inviteMemberInput.on("keyup", function() {
                                        if ($(this).val() === ""){
                                            $inviteMemberSubmit.hide();
                                        } else {
                                            $inviteMemberSubmit.show();
                                        }
                                    });

                                    $tab.find(".articlePaddingDiv").append(
                                            $('<form id="inviteMemberForm" action="javascript:void(0);" method="post">').append("{%csrf_token%}").append(
                                                "<h5>Invite Member</h5>"
                                            ).append($inviteMemberInput).append($('<input type="hidden" name="publication_name">').attr("value", publication_name)).append($inviteMemberSubmit)
                                        );

                                    $tab.find(".articlePaddingDiv").append(
                                        $('<div class="editorsDiv">').append($('<h5>').append("Members")).append($('<ul>'))
                                    );
                            }

                            for (key in publication["editors"]) {
                                if (key.length > 0) {
                                    $tab.find(".editorsDiv ul").append($('<div class="pubUser">').append($('<a>').attr("href", "/browse/author/" + key).append(key)).append($('<span class="greyText">').append(publication["editors"][key])));                                    
                                }
                            }

                            $(".cd-tabs-content").append(
                                $('<li>').attr("data-content", publication_name).append($tab)
                            );
                            $(".publication_select").append(
                                $('<option>').attr("value", publication_name).append(publication_name)
                            );
                            addTabListeners();


    
            $(".inviteMemberSubmit").on("click", function() {
var tab = $(this).closest(".tabbedContent");
            var member = $(this).closest("form").find(".inviteMemberInput").val();
          $.ajax({
                   type: "POST",
                   url: "{% url 'publish:invite_member' %}",
                   data: {'username': member, 'publication_name': $(this).closest("form").find("input[name=publication_name]").val(), 'csrfmiddlewaretoken': '{{csrf_token}}'},
                   dataType: "text",
                   success: function(response) {
                        tab.find(".editorsDiv ul").append($('<div class="pubUser">').append($('<a>').attr("href", "/browse/author/" + member).append(member)).append($('<span class="greyText">').append("writer"))); 
                    },
                    error: function(rs, e) {
                           alert(rs.responseText);
                    }
              });
        });

                            $("#" + name).on("click", function() {
                                if ($("[data-content=" + '"' + publication_name + '"' + "]").find(".subArticles").length == 0) {
                                      $.ajax({
                                               type: "GET",
                                               url: "{% url 'publish:get_latest_submissions' %}",
                                               data: {'publication_name': publication_name, 'page': '1', 'csrfmiddlewaretoken': '{{csrf_token}}'},
                                               dataType: "json",
                                               success: function(response) {
                                                    addSubmittedArticles(response, publication_name);
                                                    getAddPubArticles(publication_name);
                                //                                $("#commentTabHeader").text("Comments (" + response["count"] + ")");
                                                },
                                                error: function(rs, e) {
                                                       alert(rs.responseText);
                                                }
                                          });
                                    }
                            });
}


         /*   $("#newpubcreate").on("click", function(){

              $.ajax({
                       type: "POST",
                       url: "{% url 'publish:new_publication' %}",
                       data: {'csrfmiddlewaretoken': '{{csrf_token}}', 'publication_name': $("input[name=new_publication_name]").val()},
                       dataType: "text",
                       success: function(response) {
alert($("input[name=new_publication_name]").val());
                            $(".popup").hide();
                            addPublicationTab($("input[name=new_publication_name]").val());
                        },
                        error: function(rs, e) {
                               alert(rs.responseText);
                        }
                  }); 

            });*/


        {% for publication in publication_list %}
                $('<option>').attr("value", "{{publication.publication_name}}").append("{{publication.publication_name}}")
            pub = {};
            pub["id"] = "{{publication.id}}";
            pub["publication_name"] = "{{publication.publication_name}}";
            pub_editors = { "":"", {% for writer in publication.writers.all %}"{{writer.username}}":"writer", {%  endfor %}{% for editor in publication.editors.all %}"{{editor.username}}":"editor", {%  endfor %}"":""};
            pending_articles = { "":"", {% for article in publication.pendingArticles.all %}"{{article.document_title}}":"{{article.link_hash}}", {%  endfor %}"":""};
            pub["editors"] = pub_editors;
            pub["article_count"] = {{ publication.pendingArticles.all | length }};
            pub["pending_articles"] = pending_articles;
            {% if publication.owner == user %}
            pub["is_owner"] = true;
            {% endif %}
            {% if publication.accepts_articles %}
            pub["pub_type"] = "open_submission";
            {% endif %}
            {% if publication.is_open %}
            pub["pub_type"] = "open_publication";
            {% endif %}
            addPublicationTab(pub);
        {% endfor %}

        {% for publication in write_member_list %}
            $(".write_member_select").append(
                $('<option>').attr("value", "{{publication.publication_name}}").append("{{publication.publication_name}}")
            );
        {% endfor %}

            $("#cancel").on("click", function(){
                $(".popupForm")[0].reset()
                $(".popupFormBorder").hide();
            });

            $("#cancelPublish").on("click", function(){
                $(".popupForm")[0].reset()
                $(".popupFormBorder").hide();
            });

$(window.location.hash).trigger("click");

{% endblock %}
{% block middleContent %}

            <div class="paddingDiv">
  <div class="tabsContainer">
		<ul class="topTabs"><li><a data-content="read" id="myDocsTab" class="selected" href="#0">My Documents</a></li></ul> <!-- cd-tabs-navigation -->
      <ul class="cd-tabs-content">
		<li data-content="read" class="selected">
          <div class="column tabbedContent">
              <div class="articlePaddingDiv myDocsDiv">
                  <div class="middleSelection newpub"><a href="#0" class="clickable"><i class="fa fa-plus"></i> New Publication</a></div>
              </div>
            </div>
        </li>
      </ul>
</div>
</div>

        <div class="paddingDiv">
                  <div id="newPublication" class="popupFormBorder popup">
                      <form action="{% url 'publish:new_publication' %}" class="popupForm" id="newPubForm" method="post">{% csrf_token %}<h3>Create New Publication</h3>Publication Name
                          <input name="new_publication_name" type="text">
                          <input type="submit" id="newpubcreate" value="Create Publication"/> <button type="button" class="cancel"><i class="fa fa-times"></i></button>
                      </form>
                  </div><div id="publishForm" class="popupFormBorder popup">
            <form action="{% url 'publish:publish_document' %}" class="popupForm" id="newPubForm" method="post">{% csrf_token %}<input type="hidden" name="docHash" class="formDocHash"><h3>Three Ways To Publish</h3><h4>1) Self Publish <i class="fa fa-question-circle" title="Publish this piece under your own name"></i></h4><input type="submit" id="selfPublish" value="Self Publish" name="submissionType"/>
                          <h4>2) Publish Through Your Own Publication <i class="fa fa-question-circle"  title="Publish this piece through a publication where you have publishing permissions"></i></h4>
                          Publication Name
                            <select name="publication_name" class="publication_select">
                              <option value="----------">----------</option>
                            </select>
                          <input type="submit" id="publishThroughPublication" name="submissionType" value="Publish"/>
                          <h4>3) Submit To A Publication <i class="fa fa-question-circle"  title="Submit this piece to a publication you write for or a publication that accepts submissions. They will decide whether or not to publish it"></i></h4>
                          Publication Name
                            <select name="submit_publication_name" class="write_member_select">
                              <option value="----------">----------</option>
                            </select>
                          <input type="submit" id="newpubsumbit" name="submissionType" value="Submit to Publication"/><button type="button" class="cancel"><i class="fa fa-times"></i></button>
                      </form>
                  </div>
              </div>


            
            <div id="unlistFormBorder" class="popupFormBorder popup">
                <form class="popupForm tagForm" id="unlistForm" action="javascript:void(0);"><h3>Unlist</h3>
                    <br><h4 style="clear:left">Comment</h4><textarea name="comment" id="unlistComment"></textarea>
                    <input type="hidden" name="docHash" class="formDocHash">
                    <input type="hidden" name="publication_name" class="formPubName">
                    <button class="unlist redButton">Unlist</button>
                    <button type="button" class="cancel"><i class="fa fa-times"></i></button>
                </form>
            </div>
            
            <div id="rejectFormBorder" class="popupFormBorder popup">
                <form class="popupForm tagForm" id="rejectForm" action="javascript:void(0);"><h3>Unlist</h3>
                    <br><h4 style="clear:left">Comment</h4><textarea name="comment" id="rejectComment"></textarea>
                    <input type="hidden" name="docHash" class="formDocHash">
                    <input type="hidden" name="publication_name" class="formPubName">
                    <button class="reject redButton">Reject</button>
                    <button type="button" class="cancel"><i class="fa fa-times"></i></button>
                </form>
            </div>


{% endblock %}